D:\Repohome\Github\qt4-fsarchiver\qt4-fsarchiver-src\translations\.tx
D:\Repohome\Github\qt4-fsarchiver\qt4-fsarchiver-src\translations\tx.exe
D:\Repohome\Github\qt4-fsarchiver\qt4-fsarchiver-src\translations\.transifexrct

