[Desktop Entry]
Name=qt4-fsarchiver
Name[de_DE]=qt4-fsarchiver
Comment=Qt GUI for fsarchiver
Exec=sudo qt4-fsarchiver
Icon=/usr/share/app-install/icons/harddrive.png
Terminal=true
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=true

